@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏垂直滚动条 */
::-webkit-scrollbar {
  display: none;
}

/* 隐藏水平滚动条 */
::-webkit-scrollbar-horizontal {
  display: none;
}

.wipe {
  background-color: rgba(67, 67, 67, 0.5);
}
